language: python
python:
  - "2.6"
  - "2.7"
before_install:
    - sudo apt-get update -qq
    - sudo apt-get build-dep -qq python-pygame
    - sudo apt-get install -qq python-pygame
script:
  - python testdog.py
